body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-image: url("top-view-notebooks-calculator_23-2149103982.jpg");
    background-size: cover;
}

header {
    background-image: url('top-view-desk-concept-with-notepad_23-2148604955.jpg'); /* Replace 'header-bg.jpg' with your image path */
    background-size: cover;
    color: #100000;
    padding: 20px 0;
}

.container {
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

h1 {
    margin: 0;
    font-size: 24px;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    display: inline-block;
    margin-right: 20px;
}

nav ul li:last-child {
    margin-right: 0;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 18px;
}

.calculator {
    width: 300px;
    margin: 50px auto;
    border: 2px solid #ccc;
    border-radius: 5px;
    padding: 10px;
}

.display {
    width: 100%;
    height: 50px;
    font-size: 24px;
    text-align: right;
    margin-bottom: 10px;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 5px;
}

.btn {
    width: 100%;
    height: 50px;
    font-size: 20px;
    background-color: #f0f0f0;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.equal {
    background-color: #ffa500;
}

.clear {
    background-color: #ff4500;
}
